@import "config";
@import "menu";

* {
  box-sizing: border-box;
}

body {
  @include background;
  background: $primary-color;
  color: set-text-color($primary-color);
  height: 100%;
  margin: 0;
  font-family: "Montserrat", sans-serif;
  line-height: 1.5;
}
::-webkit-scrollbar {
  width: 0px;
  background: transparent;
}
// headings
h1,
h2,
h3 {
  margin: 0;
  font-weight: 400;
  &.lg-heading {
    font-size: 6rem;
    font-weight: 550;
  }
  &.sm-heading {
    margin-bottom: 2rem;
    padding: 0.2rem 1rem;
    background: rgba(lighten($primary-color, $amount: 2), 0.5);
  }
}
a {
  color: #fff;
  text-decoration: none;
}
header {
  position: fixed;
  z-index: 2;
  width: 100%;
}
.text-primary {
  color: $primary;
}
main {
  padding: 4rem;
  // height: 100%;
  min-height: calc(100vh - 60px);
  .icons {
    margin-top: 1rem;
    a {
      padding: 0.4rem;

      &:hover {
        color: $primary;
        @include easeout();
      }
    }
  }
  &#home {
    overflow: hidden;
    h1 {
      margin-top: 20vh;
    }
  }
}

.about-info {
  display: grid;
  grid-gap: 30px;
  grid-template-areas:
    "bioimage bio bio"
    "type type type"
    "study1 study2 study3"
    "tech tech tech"
    "tech1 tech2 tech3";
  grid-template-columns: repeat(3, 1fr);

  .bio-image {
    grid-area: bioimage;
    margin: auto;
    border-radius: 50%;
    border: $primary 3px solid;
  }
  .bio {
    grid-area: bio;
    font-size: 1.25rem;
  }
  .type {
    grid-area: type;
    font-size: 1.5rem;
    text-align: center;
  }
  .study1 {
    grid-area: study1;
  }
  .study2 {
    grid-area: study2;
  }
  .study3 {
    grid-area: study3;
  }
  .study,
  .techa {
    background: lighten($color: $primary-color, $amount: 5);
    padding: 0.5rem;
    border-bottom: $primary 5px solid;
    border-radius: 15px;
    .prog {
      p {
        font-family: "Montserrat", sans-serif;
      }
      img {
        margin: 10px 0 0 40px;
      }
    }
  }
  .course {
    align-items: center;
    text-align: center;
    font-size: 1.5rem;
  }
  .school,
  .yop,
  .gpa {
    align-items: center;
    text-align: justify;
    text-align-last: center;
    font-size: 1rem;
  }
  .tech {
    grid-area: tech;
    font-size: 1.5rem;
    text-align: center;
  }
  .tech1 {
    grid-area: tech1;
  }
  .tech2 {
    grid-area: tech2;
  }
  .tech3 {
    grid-area: tech3;
  }
  ::selection {
    color: #000;
    background: #fff;
    background-image: initial;
    background-position-x: initial;
    background-position-y: initial;
    background-size: initial;
    background-attachment: initial;
    background-origin: initial;
    background-clip: initial;
    background-color: #fff;
  }
}

//work /projects
.projects {
  display: grid;
  grid-gap: 0.7rem;
  grid-template-columns: repeat(3, 1fr);
  img {
    width: 100%;
    border: 3px #fff solid;

    &:hover {
      opacity: 0.5;
      border-color: $primary;
      @include easeout;
    }
  }
}

//contact page
.boxes {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 1rem;

  div {
    font-size: 1.5rem;
    border: 3px white solid;
    padding: 1.5rem 2.5rem;
    margin-bottom: 3rem;

    @include easeout;

    &:hover {
      padding: 0.5rem 1.5rem;
      background: $primary;
      color: set-text-color($primary);
      span {
        color: set-text-color($primary);
      }
      a {
        color: #000;
      }
    }
    a {
      color: #fff;
    }
  }
}

//button styles

.btn {
  display: block;
  padding: 0.5rem 1rem;
  border: 0;
  margin-bottom: 0.3rem;

  &:hover {
    background: $primary;
    color: set-text-color($primary);
  }
}

.btn-dark {
  @extend .btn;
  background: darken($color: $primary-color, $amount: 50);
  color: #fff;
}
.btn-light {
  @extend .btn;
  background: lighten($color: $primary-color, $amount: 50);
  color: #333;
}

#main-footer {
  text-align: center;
  padding: 1rem;
  background: darken($color: $primary-color, $amount: 10);
  color: set-text-color($primary-color);
  height: 60px;

  .footer__heart {
    background-color: #dd2e44;
    height: 0.6rem;
    width: 0.6rem;
    position: relative;
    transform: rotate(-45deg);
    animation: heartbeat 1s infinite;
    display: inline-block;
    margin: 0 1rem;

    &:after,
    &:before {
      content: "";
      position: absolute;
      background: #dd2e44;
      width: 0.6rem;
      height: 0.6rem;
      border-radius: 100%;
    }
    &:before {
      top: -0.4rem;
      left: 0;
    }
    &:after {
      top: 0;
      right: -0.4rem;
    }

    @keyframes heartbeat {
      0% {
        transform: scale(1) rotate(-45deg);
      }
      20% {
        transform: scale(1.25) rotate(-45deg);
      }
      40% {
        transform: scale(1.5) rotate(-45deg);
      }
    }
  }
}

@import "mobile";
